<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HBNB</title>
	</head>
	<body>
		{% if states %}
			<h1>States</h1>
			<ul id="states">
				{% for state in states.values() | sort(attribute='name') %}
					<li>{{ state['id'] }}: <b>{{ state['name'] }}</b></li>
				{% endfor %}
		{% elif state %}
			<h1>State: {{ state.name }}</h1>
			<h3>Cities:</h3>
			<ul id="cities">
				{% for city in state.cities %}
					<li>City: {{ city['id'] }}: <b>{{ city['name'] }}</b></li>
				{% endfor %}
			</ul>
		{% else %}
			<h1>Not found!</h1>
		{% endif %}
		</ul>
	</body>
</html>
